@* <footer class="footer mt-auto py-3 custom-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <h4>Food Application</h4>
                    <p>Healthy, Safe and Fast</p>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <h4>Contact Us</h4>
                    <div class="d-flex flex-column">
                        <div class="mt-3 mb-2 d-flex align-items-center">
                            <i class="fab fa-instagram fs-5 me-2"></i>
                            <span class="fs-6">Instagram</span>
                        </div>
                        <div class="mb-2 d-flex align-items-center">
                            <i class="fab fa-whatsapp fs-5 me-2"></i>
                            <span class="fs-6">WhatsApp</span>
                        </div>
                        <div class="mb-2 d-flex align-items-center">
                            <i class="fab fa-facebook fs-5 me-2"></i>
                            <span class="fs-6">Facebook</span>
                        </div>
                        <div class="mb-2 d-flex align-items-center">
                            <i class="far fa-envelope fs-5 me-2"></i>
                            <span class="fs-6">Email</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-md-0">
                    <h4>Address</h4>
                    <address>
                        Khuddam Land, Ojokoro, Lagos
                    </address>
                </div>
            </div>
            <div class="text-center mt-4">
                <h5>Powered By Horffshytu MGQS</h5>
            </div>

        </div>
    </footer> *@